name: cd

on:
  push:
    branches: [main]

jobs:
  publish-images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push API
        uses: docker/build-push-action@v6
        with:
          context: .
          file: src/RadioPulse.Api/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/radiopulse-api:latest
      - name: Build and Push Web
        uses: docker/build-push-action@v6
        with:
          context: .
          file: src/RadioPulse.Web/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/radiopulse-web:latest
      - name: Build and Push Worker
        uses: docker/build-push-action@v6
        with:
          context: .
          file: src/RadioPulse.Worker/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/radiopulse-worker:latest
